.login__form__main .auth__hero__outer__div .auth__social__login{
    width: 40%;
}

.login__form__main .auth__hero__outer__div .auth__social__login__row .auth__social__login__div__fb, .login__form__main .auth__hero__outer__div .auth__social__login__row .auth__social__login__div__gl{
    max-width: 100%;
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width:992px) {
    .login__form__main .auth__hero__outer__div .auth__social__login{
        width: 80%;
    }
}


@media screen and (max-width:600px) {
    .login__form__main .auth__hero__outer__div .auth__social__login{
        width: 100%;
    }
}